# Compiled Object files
*.slo
*.lo
*.o

# Object definition files
*.d

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
output/

# Python
*.pyc

*.root
*.png
*.pdf

docs/html
build/